<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Envio de contratos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#f9f9f9" style="padding: 30px 0 20px 0;">
                <img src="https://flyadd2.flyback.mx/assets/img/logo.png" alt="Logo GUSA" width="70%"
                    style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr align="center">
                        <td style="font-size: 20px;"><strong>Buen día,</strong></td>
                    </tr>
                    <tr align="justify">
                        <td style="font-size: 16px;">
                            <p>Se le informa que el contrato: <strong>{{data.contract}}</strong>
                                | <strong>{{data.owner}}</strong>, ha
                                sido enviado a Flyback.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#203a6e">
                <p align="center" style="color: #fff;">
                    Telephone: (+52) 984 803 0978
                </p>
                <p align="center" style="color: #fff;">
                    MEX: (800) 841 7317
                </p>
                <p align="center" style="color: #fff;">
                    Usa/Canada: (855) 221 5828
                </p>
                <p align="center" style="color: #fff;">
                    Mail: info@flyback.mx
                </p>
            </td>
        </tr>
    </table>
</body>

</html>